@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.video {
  &__thumb {
    width: 7.5rem;
    border-radius: 4px;
    object-fit: cover;
    max-height: 65px;
    margin-right: 1rem;
    @include for--tablet {
      height: 75px;
      max-height: 75px;
    }
    &--container {
      cursor: pointer;
      margin-bottom: -1rem;
      display: flex;
      align-items: center;
      @include for--tablet {
        margin-bottom: 0;
      }
    }
    &--title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 50vw;
      font-size: 0.95rem;
      line-height: 1.25rem;
      font-weight: 700;
    }
    &--channel {
      font-size: 0.95rem;
      line-height: 1.25rem;
    }
    &--details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 65px;
      @include for--tablet {
        width: 25vw;
        height: 70px;
      }
    }
  }
}
.list {

  @include centered-column;
  @include for--desktop {
  width: 25vw;
  align-items: start;
  }


  &__title {
    color: $BrainFlix-Silver;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  &__container {
    width: 90VW;
    @include for--desktop {
      width: 90%;
      border-left: 1px solid $BrainFlix-Mercury;
      padding-left: 1rem;
      margin-left: 1.5rem;
    }
  }
  &__item {
    display: flex;
    margin: 1rem 0;
  }
}
