@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.upload {
  &__thumbnail {
    max-width: 100%;
    border-radius: 0.25rem;
    margin: 0.5rem 0 1.5rem;
    @include for--tablet {
      max-width: 20rem;
      margin: 0.5rem 1.5rem 0 0;
    }
  }
  &__input-box {
    padding: 1.5rem 0 0 0;
    @include for--tablet {
      border-top: 1px solid $BrainFlix-Mercury;
      border-bottom: 1px solid $BrainFlix-Mercury;
      display: flex;
      padding: 2rem 0;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;

    &-el {
      width: 97.25%;
      border: 1px solid $BrainFlix-Silver;
      border-radius: 4px;
      resize: none;
      font-family: "AvenirNextLTPro";
      font-size: 0.875rem;
      color: $BrainFlix-DarkBlack;

      margin-top: 0.5rem;
      padding-left: 0.75rem;
      padding-top: 0.75rem;
      height: 24px;

      &-description {
        width: 97.25%;
        border: 1px solid $BrainFlix-Silver;
        border-radius: 4px;
        resize: none;
        font-family: "AvenirNextLTPro";
        font-size: 0.875rem;
        color: $BrainFlix-DarkBlack;
  
        margin-top: 0.5rem;
        padding-left: 0.75rem;
        padding-top: 0.75rem;
        height: 5.2rem;
      }

      &::placeholder {
        color: $BrainFlix-DarkBlack;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 5vw 10vw;
    @include for--tablet {
      padding: 0;
    }
  }
  &__video-form {
    display: flex;
    flex-direction: column;
    @include for--tablet {
      width: 100%;
    }
  }

  &__label {
    color: $BrainFlix-Silver;
    font-size: 0.875rem;
    font-weight: 600;
  }
  &__button-container {
    display: flex;
    flex-direction: column-reverse;

    @include for--tablet {
      justify-content: space-between;
      display: flex;
      align-self: flex-end;
      flex-direction: row;
      // padding: 1.5rem 0;
      min-width: 30%;
    }
  }
  &__button {
    &-cancel,
    &-publish {
      background: url("../../assets/images/Icons/publish.svg") no-repeat 0.5rem
        center;
      //width: 100%;
      min-width: 150px;
      height: 40px;
      margin: 1.5rem 0 0 0;
      background-color: $BrainFlix-Blue;
      border-radius: 4px;
      border: none;
      color: $BrainFlix-White;
      font-weight: 700;
      &:hover {
        background-color: $BrainFlix-DarkBlue;
      }
      @include for--tablet {
      }
      @include for--desktop {
      }
    }
    &-cancel {
      background-color: $BrainFlix-White;
      color: $BrainFlix-Blue;
      @include for--tablet {
        margin-right: 1rem;
      }
    }
  }
}
