@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.upload {
  &__thumbnail {
    max-width: 100%;
    border-radius: 0.25rem;
    margin: 0.5rem 0 1.5rem;
    @include for--tablet {
      max-width: 20rem;
      margin: 0.5rem 1.5rem 0 0;
    }
  }
  &__input-box {
    padding: 1.5rem 0 0 0;
    @include for--tablet {
      border-top: 0.0625rem solid $BrainFlix-Mercury;
      border-bottom: 0.0625rem solid $BrainFlix-Mercury;
      display: flex;
      padding: 2rem 0;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;

    &-el {
      width: 97.25%;
      border: 0.0625rem solid $BrainFlix-Silver;
      border-radius: 0.25rem;
      resize: none;
      font-family: "AvenirNextLTPro";
      font-size: 0.875rem;
      color: $BrainFlix-DarkBlack;
      background-color: $BrainFlix-Alabaster;

      margin-top: 0.5rem;
      padding-left: 0.75rem;
      padding-top: 0.75rem;
      height: 1.5rem;

      &-description {
        width: 97.25%;
        border: 0.0625rem solid $BrainFlix-Silver;
        background-color: $BrainFlix-Alabaster;
        border-radius: 0.25rem;
        resize: none;
        font-family: "AvenirNextLTPro";
        font-size: 0.875rem;
        color: $BrainFlix-DarkBlack;

        margin-top: 0.5rem;
        padding-left: 0.75rem;
        padding-top: 0.75rem;
        height: 5.2rem;
      }

      &::placeholder {
        color: $BrainFlix-DarkBlack;
      }
      &:active {
        border: 0.125rem solid $BrainFlix-Blue;
      }

      &--error {
        border: 0.125rem solid $BrainFlix-Red;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 5vw 10vw;
    @include for--tablet {
      padding: 0;
    }
  }
  &__video-form {
    display: flex;
    flex-direction: column;
    @include for--tablet {
      width: 100%;
    }
  }

  &__label {
    color: $BrainFlix-Silver;
    font-size: 0.875rem;
    font-weight: 600;
  }
  &__button-container {
    display: flex;
    flex-direction: column-reverse;

    @include for--tablet {
      justify-content: space-between;
      display: flex;
      align-self: flex-end;
      flex-direction: row;
      // padding: 24px 0;
      min-width: 30%;
    }
  }
  &__button {
    &-cancel,
    &-publish {
      background: url("../../assets/images/Icons/publish.svg") no-repeat 8px
        center;
      //width: 100%;
      min-width: 9.375rem;
      height: 2.5rem;
      margin: 1.5rem 0 0 0;
      background-color: $BrainFlix-Blue;
      border-radius: 0.25rem;
      border: none;
      color: $BrainFlix-White;
      font-weight: 700;
      align-content: center;
      align-items: center;
      display: flex;
      justify-content: center;
      text-decoration: none;
      &:hover {
        background-color: $BrainFlix-DarkBlue;
      }
      @include for--tablet {
      }
      @include for--desktop {
      }
    }
    &-cancel {
      background: none;
      background-color: $BrainFlix-White;
      color: $BrainFlix-Blue;
      &:hover {
        color: $BrainFlix-White;
        background-color: $BrainFlix-DarkBlue;
      }
      @include for--tablet {
        margin-right: 16px;
      }
    }
    &-close {
      background-image: none;
      display: initial;
      margin-top: 0.5rem;
      width: 8rem;
      height: 2.5rem;
      background-color: $BrainFlix-Blue;
      border-radius: 0.25rem;
      border: none;
      color: $BrainFlix-White;
      font-weight: 700;
      align-content: center;
      align-items: center;
      display: flex;
      justify-content: center;
      text-decoration: none;
      &:hover {
        background-color: $BrainFlix-DarkBlue;
      }
    }
  }
  &__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    &--content {
      width: 12.5rem;
      height: 12rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      background: white;
      border: 0.0625rem solid $BrainFlix-DarkBlue;
      border-radius: 1.5625rem;
      padding: 0 8px;
    }
  }
}
