@use "../styles/partials/mixins" as *;
@use "../styles/partials/colors" as *;

.video {
  font-size: 0.95rem;
  line-height: 1.25rem;

  &__section {
    @include centered-column;
  }
  &__player {
    width: 100vw;
  }
  &__card {
    width: 90vw;
    overflow-wrap: break-word;
    display: flex;
    @include divider;
    padding-bottom: 1rem;
    @include for--tablet{
        justify-content: space-between;
        margin-top: -1rem;
    }
  }
  &__title {
    font-size: 1.8rem;
    width: 90vw;
    font-weight: 700;
    @include divider;
    padding-bottom: 1rem;
    @include for--tablet{
        border-bottom: none;
    }
  }
  &__description {
    @include centered-column;
    width: 90vw;
    font-size: 0.95rem;
    line-height: 1.4rem;
  }
  &__channel {
    font-weight: 700;
    @include for--tablet{
        margin-right: 2rem;
    }
  }
  &__date {
    color: $BrainFlix-Silver;
    margin-top: 1rem;
    @include for--tablet{
        margin: 0;
    }
  }
  &__likes {
    margin-top: 1rem;
    @include for--tablet{
        margin: 0 0 0 2rem;
    }
  }
  &__details {
    &-left {
      margin-right: 30vw;
      @include for--tablet{
        display: flex;
    }
    }

    &-right {
      color: $BrainFlix-Silver;
      @include for--tablet{
        display: flex;
    }
    }
    &--icon {
      margin-right: 10px;
    }
  }
}
