@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.video {
  font-size: 0.95rem;
  line-height: 1.25rem;
  &__container {
    @include centered-column;
    width: 100vw;
    background-color: $BrainFlix-DarkBlack;
  }
  &__section {
    @include centered-column;
  }
  &__player {
    width: 100vw;
    max-height: 70vw;
    max-width: 1280px;
    

    @include for--tablet {
      width: 90vw;
      position: relative;
      max-height: 40vw;

    }
    @include for--desktop {
      width: 70vw;
      position: relative;
      max-height: 40vw;

    }
  }
  &__card {
    width: 90vw;
    overflow-wrap: break-word;
    display: flex;
    @include divider;
    padding-bottom: 1rem;
    @include for--tablet {
      justify-content: space-between;
      margin-top: -1rem;
    }
    @include for--desktop {
      width: 100%;
      align-self: flex-start;
      padding-right: 2.5rem;
    }
  }
  &__title {
    font-size: 1.8rem;
    width: 90vw;
    font-weight: 700;
    @include divider;
    padding-bottom: 1rem;
    @include for--tablet {
      border-bottom: none;
      font-size: 2.05rem;
    }
    @include for--desktop {
      width: auto;
      align-self: flex-start;
    }
  }
  &__description {
    @include centered-column;
    width: 90vw;
    font-size: 0.95rem;
    line-height: 1.4rem;
    @include for--desktop {
      width: auto;
    }
  }
  &__channel {
    font-weight: 700;
  
    @include for--tablet {
      min-width: 7rem;
      margin-right: 2rem;
      display: flex;
      align-items: center;
    }
  }
  &__date {
    color: $BrainFlix-Silver;
    margin-top: 1rem;
    @include for--tablet {
      margin: 0;
    }
  }
  &__likes {
    margin-top: 1rem;
    align-items: center;
    display: flex;
    @include for--tablet {
      margin: 0 0 0 2rem;
    }
  }
  &__views{
    display: flex;
    align-items: center;
  }
  &__details {
    &-left {
      margin-right: 30vw;
      @include for--tablet {
        display: flex;
        @include for--desktop {
          margin-right: 10vw;
        }
      }
    }

    &-right {
      color: $BrainFlix-Silver;
      @include for--tablet {
        display: flex;
      }
    }
    &--icon {
      margin-right: 10px;
    }
  
  }
}
