@use "./components/VideoPlayer/VideoPlayer.scss";
@use "./components/VideoList/VideoList.scss";

@use "./components/NavBar/NavBar.scss";
@use "./styles/partials/colors" as*;
@use "./components/VideoComments/VideoComments.scss";
@use "./components/VideoDetails/VideoDetails.scss";
@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;
@use "./components/Upload/Upload.scss" as *;


.App {
  text-align: center;
}

.page {
  &__desktop-layout {
    @include for--desktop {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__container {
    max-width: 1280px;
    @include for--desktop {
      width: 80vw;
      display: flex;

    }
  }
}



body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "AvenirNextLTPro", sans-serif;
  font-weight: 400; /* Light weight */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AvenirNextLTPro", sans-serif;
  font-weight: 700; /* Bold weight */
}

input{
  ::placeholder{
    color: $BrainFlix-DarkBlack;
  }
}

